@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Poiret+One&display=swap');

.letrafont {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    text-align: center;
}


.titulo {
    color: cadetblue;
    font-size: 36px;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    text-align: justify;
}

.col2{
    width: 50%;
    align-items: center; 
    text-align: center;
}
.row {
    width: 100%;
    display:flex;
    justify-content: center;
    text-align: center;    
}
.row2 {
    width: 100%;
    background-color: #000000;
    color: white;
    display:flex;
    justify-content: center;
    text-align: center;    
}

.col4{
    width: 25%;
    color: white;
}

.rowde4 {
    width: 100%;
    display:flex;
    justify-content: center;
    text-align: center;    
    background-color: #000000;
}

h1 {
    color: grey;
}

.section1 {
    background-color: #f5eef5;
    width: 100%;
    display:flex;
    justify-content: center;
    text-align: center;    
}

.section2 {
    background-color: #faf5f3;
    width: 100%;
    display:flex;
    justify-content: center;
    text-align: center;    
}

.section3 {
    background-color: #f2F9F8;
    width: 100%;
    display:flex;
    justify-content: center;
    text-align: center;    
}

@media screen and (max-width: 600px) {

    .section1, .section2, .section3, .row, .row2,  .col2, .rowde4, .col4 {
      width: 100%;
      font-size: 24px;
      padding: 20px;
      flex-direction: column;
    }
  }